.flex-container{
    display: flex;
    width: 500px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(210, 215, 230);
}
.flex-child{
    flex-grow: 1;
    height: 110px;
    border: 2px solid rgb(60, 90, 130);
    justify-content: center;
    display: flex;
    align-items: center;
}