th{
    background-color: #4CAF50;
    color:white;
}
td:nth-child(odd){
    background-color: aquamarine;
}
td:nth-child(2){
    background-color: blanchedalmond;
}
tr:nth-child(even) td:nth-child(4){
    background-color: coral;
}
tr:nth-child(odd) td:nth-child(6){
    background-color: darkcyan;
}
tr:nth-child(3n) td:nth-child(8){
    background-color: cyan;
}
tr:nth-child(3n-1) td:nth-child(10){
    background-color: darksalmon;
}
tr td:first-child {
    font-weight: bold;
    color: #4CAF50;
  }